.flex {
  display: flex;
  width: 100%;
  /* height: 99vh; */
}
.box {
  width: 100px;
  height: 100px;
  background-color: green;
  margin-right: 2px;
}
/* max-width: 400: 0-400 */
/* min-width: 400: 400-max */
@media screen and (max-width: 831px) {
  .flex {
    flex-wrap: wrap;
    background-color: greenyellow;
  }
  body {
    font-size: larger;
  }
  .box-8 {
    display: none;
    visibility: hidden;
  }
}
/* Default styles for all screens */
body {
  background-color: grey;
  font-size: 16px;
  text-align: center;
}
/* Media query for screens 768px or smaller */
@media (min-width: 500px) and (max-width: 768px) {
  body {
    background-color: honeydew;
    font-size: 14px;
  }
}
/* @media (orientation: landscape) {
  body {
    background-color: hotpink;
  }
} */
@media (min-width: 500px) and (orientaton: landscape) {
  body {
    background-color: indianred;
  }
}
/* Styles for printing */
@media print {
  body {
    background-color: indigo;
    color: ivory;
    font-size: 24pt;
  }
  h1,
  p {
    color: khaki;
  }
}
/* Default styles */
.container {
  display: block;
}
.item {
  background-color: lavender;
  margin: 10px;
  padding: 10px;
}
/* Apply flexbox if supported */
@supports (position: absolute) {
  .container {
    display: flex;
    justify-content: space-around;
  }
}
.box-8 {
  /* animation: lavenderBlushToLawnGreen 1s 1s infinite; */
  animation: rotating 1s 2s 3 linear;
}
/* Animations */
@keyframes lavenderBlushToLawnGreen {
  from {
    background-color: lavenderblush;
  }
  to {
    background-color: lawngreen;
  }
}
@keyframes rotating {
  0% {
    rotate: 0deg;
    margin-left: 0px;
  }
  50% {
    rotate: 360deg;
    margin-left: 150px;
  }
  100% {
    rotate: 0deg;
    margin-left: 0px;
  }
}
.rotate-scale-up {
  animation: rotate-scale-up 0.65s linear both;
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
.box-7:hover {
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
.flip-horizontal-bottom {
  animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}
@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
